.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $m-size;
}

.page-title {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 20px;
  h2 {
    margin: 0;
  }
}
