.contact-content {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.form {
  padding: 25px 0;
  border-radius: 3px; /* Remove corner curve */
  border: 2px solid #222; /* 2px white border */
  width: 45rem;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  padding: 10px;
}

.form-input__input {
  background-color: transparent; /* Remove background fill */
  border-radius: 3px; /* Remove corner curve */
  border: 2px solid #222; /* 2px white border */
  height: 45px; /* Increase input height */
  text-indent: 10px;
  margin-top: 10px;
  margin-right: 10px;
  font-size: $m-size;
  color: #222;
  width: 99%;
}
.form-input__textarea {
  background-color: transparent; /* Remove background fill */
  border-radius: 3px; /* Remove corner curve */
  border: 2px solid #222; /* 2px white border */
  height: 45px; /* Increase input height */
  text-indent: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: $m-size;
  color: #222;
  width: 99%;
  height: 100px;
}

.form-button {
  color: white;
  background: #222;
  font-size: $m-size;
  border: 1px solid #525252;
  border-radius: 3px;
  width: 140px;
  height: 98%;
  text-align: center;

}
.form-submit {
  display: flex;
  flex-direction: row;
  justify-content:space-between;

}

.direct {
  padding-left: 25px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  ul {
    padding: 0;
    margin: 0;
  }
  li {
    padding: 0;
    margin: 0;
    list-style: none;

  }
  a {
    font-weight: bold;
    text-decoration: none;
    color: $grey;
  }
}
.direct-row {
  width: 100%;
  text-align: center;
}
