.box {
  width: 33.3%;
  min-width: 350px;
  border: none;
  margin: 0;
  padding: 0;
  img {
    opacity: 0.9;
  }
  img:hover {
    opacity: 1.0;
}
}

.box-title {
  display: flex;
  justify-content: space-around;
  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.box-body {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  p {
    padding-left: 10px;
    padding-right: 10px;
  }

  width: 100%;
}
