.portfolio-container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-title {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}
