.profile-photo {
  padding-top: 25px;
  display: flex;
  justify-content: space-around;
  img {
      border-radius: 50%;
  }
}

.profile-title {
  padding-top: 40px;
  display: flex;

  justify-content: space-around;
}

.profile-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.profile-desc__row {
  width: 100%;
  padding: 0 auto;
  display: flex;
  justify-content: space-around;
}
.profile-desc__row-container {
  max-width: 800px;
  padding: 0 auto;
}
.profile-icons {
  list-style: none;
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  ul {
      padding: 0 0 0 0;
  }
  li {
    display: inline;
    padding-right: 10px;
  }
  img {
    width: 75px;
  }
}
